@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,900&display=swap");

body {
  background-color: #f7f7f7 !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Roboto", sans-serif;
}

p {
  margin-bottom: 5px !important;
}

ul {
  list-style-type: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px 5px 40px;
  background-color: white;
}

.nav-ul {
  display: flex;
  gap: 40px;
  align-items: center;
}

a {
  text-decoration: none !important;
}

.nav-links {
  color: #121212;
  font-size: 14px;
  font-weight: 500;
}

.nav-links:hover {
  color: #0290ff;
}

.nav-brand {
  font-size: 1.875rem;
  font-weight: bold;
  color: #0290ff;
}

.form-header {
  font-size: 18px;
  color: #706a6a;
}

.inputs {
  background-color: white;
  border: none;
  height: 40px;
  width: 250px;
  margin-right: 10px;
}

::placeholder {
  padding-left: 15px;
  color: #706a6a;
}

.title {
  font-size: 40px;
  color: #121212;
}

.author {
  font-size: 22px;
  color: #4386bf;
}

.book {
  border: 1px solid #e8e8e8;
}

.book:hover {
  border: 1px solid #0290ff;
}

.circle-wrap {
  width: 150px;
  height: 150px;
  background: #fefcff;
  border-radius: 50%;
  border: 1px solid #cdcbd0;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .inside-circle {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  background: white;
  line-height: 120px;
  text-align: center;
  margin-top: 14px;
  margin-left: 14px;
  color: #1e51dc;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}

/* color animation */

/* 3rd progress bar */
.mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #227ded;
}

.mask.full,
.circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(135deg);
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(135deg);
  }
}
